@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
body {
  margin: 0;
  font-family:  'Palette Mosaic', cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Palette Mosaic', cursive;
}
.motion-back{
  background: blue;
  width: 100px;
  height: 100px;
}

/** Menu  */
@keyframes borderani {
  0%   {background: radial-gradient(circle, rgba(201,8,26,1) 0%, rgba(255,255,255,1) 15%, rgba(201,8,26,1) 100%);}
  15%   {background: radial-gradient(circle, rgba(201,8,26,1) 0%, rgba(255,255,255,1) 25%, rgba(201,8,26,1) 100%);}
  25%  {background: radial-gradient(circle, rgba(201,8,26,1) 0%, rgba(255,255,255,1) 40%, rgba(201,8,26,1) 100%);}
  35%   {background: radial-gradient(circle, rgba(201,8,26,1) 0%, rgba(255,255,255,1) 50%, rgba(201,8,26,1) 100%);}
  50%  {background: radial-gradient(circle, rgba(201,8,26,1) 0%, rgba(255,255,255,1) 60%, rgba(201,8,26,1) 100%);}
  60%  {background: radial-gradient(circle, rgba(201,8,26,1) 0%, rgba(255,255,255,1) 70%, rgba(201,8,26,1) 100%);}
  70%   {background: radial-gradient(circle, rgba(201,8,26,1) 0%, rgba(255,255,255,1) 75%, rgba(201,8,26,1) 100%);}
  80%  {background: radial-gradient(circle, rgba(201,8,26,1) 0%, rgba(255,255,255,1) 82%, rgba(201,8,26,1) 100%);}
  90%  {background: radial-gradient(circle, rgba(201,8,26,1) 0%, rgba(255,255,255,1) 93%, rgba(201,8,26,1) 100%);}
  100% {background: radial-gradient(circle, rgba(201,8,26,1) 0%, rgba(255,255,255,1) 100%, rgba(201,8,26,1) 100%);}
}
.mainnav{
  margin-left: auto;
  margin-right: auto;
  background: rgb(201,8,26);
  background: linear-gradient(108deg, rgba(201,8,26,1) 38%, rgba(255,255,255,1) 40%, rgba(201,8,26,1) 42%, rgba(201,8,26,1) 50%, rgba(255,255,255,1) 52%, rgba(201,8,26,1) 54%, rgba(201,8,26,1) 61%, rgba(255,255,255,1) 63%, rgba(201,8,26,1) 65%, rgba(201,8,26,1) 73%, rgba(255,255,255,1) 75%, rgba(201,8,26,1) 77%); 
  border-radius: 25px 30px 50px 60px / 35px 40px 60px 32px;
  box-shadow: 2px 10px 3px #888888;
  animation-name: borderani;
  animation-duration: 5s;
  margin-top: 10px;
}

.navbar-toggler{
  background-color: white !important;
}

.title-nav{
  font-family: 'Palette Mosaic', cursive;
  color: rgb(234, 236, 210) !important;
  font-size: 2rem !important ;
}

.offcanvas{
background-color: #C9081A !important; 
}
.nav-link{
  color: white !important;
}

.menu-back{
  margin-top: 12px;
  height: 600px;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 25px 30px 0px 0px / 35px 40px 60px 32px;
}

/** card content */

.border{
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
  .border:hover{
    border: 1px solid white;
  }
.card{
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0{
  background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') center center no-repeat;
  background-size: 300px;
}
  .card0:hover{
    background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') left center no-repeat;
    background-size: 600px;
  }
    h2{
      opacity: 1;
}
    .fa{
      opacity: 1;
}
